<a href="https://colab.research.google.com/github/Ait0r2021/Formulario/blob/master/Resumen_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Markdown

Primer cuaderno en collab

In [ ]:
a = 'Hola'
b = 'Adios'

In [ ]:
print(a + ' ' +b) # Primero hay que ejecutar la orden de arriba para que las variables se creen

Hola Adios

# TIPOS DE DATOS EN PYTHON

- Numéricos
- Cadenas
- Booleanos

Las variables nos permiten darle nombre a los datos, estas almacenan datos, por lo que podremos usarlos más tarde en operaciones con código.
- Las variables son mutables, por lo que siempre se les puede cambiar el contenido.
- Las variables son 'key sensitive', es decir, la variable `Income` no es la misma que la variable `income`.
- Una variable no puede empezar con un número, pero si pueden aparecer en el nombre.
  - 1income `no` es válido.
  - inco1me `sí` es válido.

## NÚMEROS

Hay tres tipos de números en python: `enteros`, `decimales` y `números complejos`.

# NÚMEROS ENTEROS

In [ ]:
print(10)  # A positive integer
print(-3000)  # A negative integer

num = 123456789  # Assigning an integer to a variable
print(num)
num = -16000  # Assigning a new integer
print(num)

10
-3000
123456789
-16000

# NÚMEROS DECIMALES

In [ ]:
print(1.00000000005)  # A positive float
print(-85.6701)  # A negative float

flt_pt = 1.23456789
print(flt_pt)

# NÚMEROS COMPLEJOS

Así se hace un número complejo:
- `complex(real, imaginary)`

In [ ]:
print(complex(10, 20))  # Represents the complex number (10 + 20j)
print(complex(2.5, -18.2))  # Represents the complex number (2.5 - 18.2j)

complex_1 = complex(0, 2)
complex_2 = complex(2, 0)
print(complex_1)
print(complex_2)

# BOOLEANOS

Los booleanos son variables que sólo pueden tomar `2` valores: `True` o `False`

- IMPORTANTE
Los booleanos en python tienen que tener la `PRIMERA` `letra` en `MAYÚSCULA`

In [ ]:
print(True)

f_bool = False
print(f_bool)

True
False

# CADENAS DE TEXTO

Las cadenas de texto pueden estar vacías completamente o tener caracteres únicos, además, pueden ir cerradas por `comillas simples` o `comillas dobles`

In [ ]:
print("Harry Potter!")  # Double quotation marks

got = 'Game of Thrones...'  # Single quotation marks
print(got)
print("$")  # Single character

empty = ""
print(empty)  # Just prints an empty line

multiple_lines = '''Triple quotes allows
multi-line string.'''
print(multiple_lines)

Harry Potter!
Game of Thrones...
$

Triple quotes allows
multi-line string.

Para saber cuantos caracteres tiene una cadena de texto podemos usar la función `len()` (Los espacios también cuentan como caracteres, obviamente)
- Las cadenas de texto en python se indexan `partiendo desde 0`, es decir, en la palabra HOLA, la `H` ocupa la `posición 0`.

In [ ]:
random_string = "I am Batman"  # 11 characters
print(len(random_string))

11

In [ ]:
batman = "Bruce Wayne"

first = batman[0]  # Accessing the first character
print(first)

space = batman[5]  # Accessing the empty space in the string
print(space)

last = batman[len(batman) - 1]
print(last)
# The following will produce an error since the index is out of bounds
# err = batman[len(batman)]

B

e

Si usamos un `índice negativo`, accedemos a la cadena de `manera inversa`, es decir, desde el final.
- El índice `-1` hace referencia al `último caracter` de la cadena.

In [ ]:
batman = "Bruce Wayne"
print(batman[-1])  # Corresponds to batman[10]
print(batman[-5])  # Corresponds to batman[6]

e
W

# LA PALABRA NONE

Python nos ofrece otro tipo de dato llamado NoneType, solo tiene un valor, NONE.
 A TENER EN CUENTA
  - None `no` es el valor `default` de una variable a la que no se le ha asignado valor todavía.
  - None `no` es lo mismo que `false`.
  - None `no` es una `cadena vacía`.
  - None `no` es `0`

In [ ]:
val = None
print(val) # prints "None" and returns None
print (type(val))

None
<class 'NoneType'>

# DIVISIÓN DE CADENAS DE TEXTO

Es el proceso por el cual se obtiene una *`'substring'`* de una *`'string'`* original.

La sintáxis sería así: `string[start:end]`.
- `start` es el índice por el cual quieres empezar a dividir.
- `end` es por donde quieres acabar la división de la cadena.

In [ ]:
my_string = "This is MY string!"
print(my_string[0:4]) # From the start till before the 4th index
print(my_string[1:7])
print(my_string[8:len(my_string)]) # From the 8th index till the end

This
his is
MY string!

También se pueden cortar cadenas de texto usando *`'steps'`*, es decir, cada cuánto se corta la cadena.
- El número de *`steps`* se pone detrás del *`end`*.
- Se pondría así: `string[start:end:step]`

Asimismo se puede dividir en orden inverso, se `intercambia la posición del inicio y del fin` de la división y los *`'steps'`* son números negativos.

In [ ]:
my_string = "This is MY string!"
print(my_string[13:2:-1]) # Take 1 step back each time
print(my_string[17:0:-2]) # Take 2 steps back. The opposite of what happens in the slide above

rts YM si s
!nrsY ish

También se puede dividir parcialmente, los índices de `start` y `end` son opcionales, es decir, que si no se pone el índice del `end` la división de la cadena acaba al `final de la cadena`, lo mismo pasa con el `start`, si no se pone la división de la cadena llegará hasta el índice del `end`.

In [ ]:
my_string = "This is MY string!"
print(my_string[:8])  # All the characters before 'M'
print(my_string[8:])  # All the characters starting from 'M'
print(my_string[:])  # The whole string
print(my_string[::-1])  # The whole string in reverse (step is -1)

This is
MY string!
This is MY string!
!gnirts YM si sihT

# FORMATEO DE CADENAS DE TEXTO

El formateo de cadenas significa sustituir valores dentro de una cadena, hay varios tipos de formateo.
- Insertar `cadenas` dentro de cadenas.
- Insertar `números enteros` dentro de cadenas.
- Insertar `números decimales` dentro de cadenas.

# INSERTAR CADENAS DENTRO DE CADENAS

Se usa `%s` para `añadir texto`.

In [ ]:
string1 = "I like %s" % "Python"
print(string1) # 'I like Python'

temp = "Educative"
string2 = "I like %s" % temp
print(string2) # 'I like Educative'

string3 = "I like %s and %s and %s" % ("Python", temp, 'hey')
print(string3)  # 'I like Python and Educative'

# INSERTAR NÚMEROS DENTRO DE CADENAS

Se usa `%i` para añadir `números enteros`.

In [ ]:
my_string = "%i + %i = %i" % (1,2,3)
print(my_string) # '1 + 2 = 3'

# INSERTAR NÚMEROS DECIMALES DENTRO DE CADENAS

Se usa `%f` para añadir `números decimales`, se pueden poner límite de decimales con `%.2f` por ejemplo, esto limita los decimales a 2, redondeando.

In [ ]:
string1 = "%f" % (1.11)
print(string1) # '1.110000'

string2 = "%.2f" % (1.11)
print(string2) # '1.11'

string3 = "%.2f" % (1.117)
print(string3) # '1.12'

# OPERADORES

Los operadores se usan para hacer `operaciones lógicas y matemáticas` con los datos.
Los operadores están representados por `caracteres o palabras especiales`.

Hay 5 tipos de operadores en python:
- Operadores `aritméticos`.
- Operadores de `comparación`.
- Operadores de `asignación`.
- Operadores `lógicos`.
- Operador `bit a bit`.

# OPERADORES ARITMÉTICOS

Hay varios tipos de operadores aritméticos:
- `( )` - parentesis - encapsula la operación que hay dentro.
- `**` - Exponente.
- `%` , `*` , `/` , `//` - Módulo, multiplicación, división, división a la baja.
- `+` , `-` - Suma, resta.

 - **Suma**

Podemos sumar 2 números usando el operador `+`:

In [ ]:
print(10 + 5)

float1 = 13.65
float2 = 3.40
print(float1 + float2)

num = 20
flt = 10.5
print(num + flt)

- **Resta**

Podemos restar 2 números usando el operador `-`:

In [ ]:
print(10 - 5)

float1 = -18.678
float2 = 3.55
print(float1 - float2)

num = 20
flt = 10.5
print(num - flt)

- **Multiplicación**

Podemos multiplicar 2 números usando el operador `*`:

In [ ]:
print(40 * 10)

float1 = 5.5
float2 = 4.5
print(float1 * float2)

print(10.2 * 3)

- **División**

Podemos dividir 2 números usando el operador `/`:

In [ ]:
print(40 / 10)

float1 = 5.5
float2 = 4.5
print(float1 / float2)
print(12.4 / 2)

- **División a la baja**

En una división a la baja se redondea al número entero más bajo.

Puedes hacer una división a la baja con el operador `//`:

In [ ]:
print(43 // 10)

float1 = 5.5
float2 = 4.5
print(5.5 // 4.5)
print(12.4 // 2)

- **Módulo**

El módulo de un número con otro se puede encontrar usando el operador `%` (El módulo devuelve el resto de la división):

In [ ]:
print(10 % 2)

twenty_eight = 28
print(twenty_eight % 10)

print(-28 % 10)  # The remainder is positive if the right-hand operand is positive
print(28 % -10)  # The remainder is negative if the right-hand operand is negative
print(34.4 % 2.5)  # The remainder can be a float

0
8
2
-2
1.8999999999999986

- **Precedencia**

Una expresión aritmética con varios operadores se resolverá con el órden básico de las operaciones, si el orden es igual, se empezará a resolver por la izquerda.

In [ ]:
# Different precedence
print(10 - 3 * 2)  # Multiplication computed first, followed by subtraction

# Same precedence
print(3 * 20 / 5)  # Multiplication computed first, followed by division
print(3 / 20 * 5)  # Division computed first, followed by multiplication

4
12.0
0.75

- **Paréntesis**

Una operación dentro de un paréntesis será resuelta primero, ignorando el orden de operadores:

In [ ]:
print((10 - 3) * 2)  # Subtraction occurs first
print((18 + 2) / (10 % 8))

14
10.0

# OPERADORES DE COMPARACIÓN

Los operadores de comparación se usan para comparar valores en términos matemáticos:

- `>` - Mayor que
- `<` - Menor que
- `>=` - Mayor o igual que
- `<=` - Menor o igual que
- `==` - Igual a
- `!=` - No igual a
- `is` - Igual a (identidad)
- `is not` - No igual a (identidad)

- Comparaciones

El resultado `siempre es un booleano`.
Si la comparación es correcta, el resultado será `True`, si no, será `False`.

Los operadores `==` y  `!=` comprobarán el `valor` de los dos operandos, mientras que los operadores `is` e `is not` comprobarán que los dos operandos son `EXACTAMENTE EL MISMO OBJETO`.

In [ ]:
num1 = 5
num2 = 10
num3 = 10
list1 = [6,7,8]
list2 = [6,7,8]

print(num2 > num1)  # 10 is greater than 5
print(num1 > num2)  # 5 is not greater than 10

print(num2 == num3)  # Both have the same value
print(num3 != num1)  # Both have different values

print(3 + 10 == 5 + 5)  # Both are not equal
print(3 <= 2)  # 3 is not less than or equal to 2

print(num2 is not num3)  # Both have the same object
print(list1 is list2)  # Both have the different objects

True
False
True
True
False
False
False
False

# OPERADORES DE ASIGNACIÓN

Esta categoría de operadores se encargan de asignar valores a una variable. El operador `=` es un operador de asignación, pero no es el único.

- `=` - Asignar.
- `+=` - Añadir y asignar (es como el `++` en JS).
- `-=` - Restar y asignar (es como el `--` en JS).
- `*=` - Multiplicar y asignar.
- `/=` - Dividir y asignar.
- `//=` - Dividir a la baja y asignar.
- `**=` - Elevar a la potencia y asignar.
- `%=` - Hacer el módulo y asignar.
- `|=` - OR y asignar.
- `&=` - AND y asignar.
- `^=` - XOR y asignar (OR exclusivo).
- `>>=` - Right-shift y asignar.
- `<<=` - Left-shift y asignar.

- **Valores de asignación**

Las variables son mutables, por lo que podemos cambiar su valor siempre que queramos.

In [ ]:
year = 2019
print(year)

year = 2020
print(year)

year = year + 1  # Using the existing value to create a new one
print(year)

2019
2020
2021

- **Los otros operadores**

In [ ]:
num = 10
print(num)

num += 5
print(num)

num -= 5
print(num)

num *= 2
print(num)

num /= 2
print(num)

num **= 2
print(num)

10
15
10
20
10.0
100.0

# Operadores Bitwise

- `&` - Bitwise AND
- `|` - Bitwise OR
- `^` - Bitwise XOR
- `~` - Bitwise NOT
- `<<` - Shift Bits Left
- `>>` - Shift Bits Right

In [ ]:
num1 = 10  # Binary value = 01010
num2 = 20  # Binary Value = 10100

print(num1 & num2)   # 0   -> Binary value = 00000
print(num1 | num2)   # 30  -> Binary value = 11110
print(num1 ^ num2)   # 30  -> Binary value = 11110
print(~num1)         # -11 -> Binary value = -(1011)
print(num1 << 3)     # 80  -> Binary value = 0101 0000
print(num2 >> 3)     # 2   -> Binary value = 0010

# OPERADORES LÓGICOS

Los operadores lógicos se usan para `manipular la lógica de expresiones booleanas`.
- `AND`
- `OR`
- `NOT`

Las expresiones lógicas son formadas uasndo booleanos y operadores lógicos.

In [ ]:
# OR Expression
my_bool = True or False
print(my_bool)

# AND Expression
my_bool = True and False
print(my_bool)

# NOT expression
my_bool = False
print(not my_bool)

True
False
True

En términos de bit, `True` equivale a `1` y `False` equivale a `0`.

In [ ]:
print(10 * True)
print(10 * False)

10
0

# OPERACIONES CON CADENAS DE TEXTO

Las cadenas de texto son compatibles con los operadores de comparación, se comparan en base a su valor en unicode.

In [ ]:
print('a' < 'b')  # 'a' has a smaller Unicode value

house = "Gryffindor"
house_copy = "Gryffindor"

print(house == house_copy)

new_house = "Slytherin"

print(house == new_house)

print(new_house <= house)

print(new_house >= house)

True
True
False
False
True

- **CONCATENACIÓN**

El operador `+` se puede usar para concatenar cadenas de texto.

In [ ]:
first_half = "Bat"
second_half = "man"

full_name = first_half + second_half
print(full_name)

Batman

- **MULTIPLICACIÓN**

El operador `*` permite multiplicar cadenas, creando una repetición de la cadena.

In [ ]:
print("ha" * 3)

hahaha

- **BÚSQUEDA**

La palabra clave `in` se puede usar para ver si una subcadena está en una cadena de texto. El resultado es un booleano.

In [ ]:
random_string = "This is a random string"

print('of' in random_string)  # Check whether 'of' exists in randomString
print('random' in random_string)  # 'random' exists!

False
True

# AGRUPAR VALORES

Podemos hacer listas encapsulando valores entre `[]`.

In [ ]:
my_list = [1, 2.5, "A string", True]
print(my_list)

[1, 2.5, 'A string', True]

Las listas pueden ser indexadas y cortadas como cadenas. el comando `len` funciona tambiém con las listas.

In [ ]:
my_list = [1, 2.5, "A string", True]
print(my_list[2])
print(len(my_list))

A string
4

# DECLARACIONES CONDICIONALES

Una declaración condicional es una `expresión booleana` que si da como resultado `True` ejecuta una pieza de código.
Esto nos permite programar diferentess caminos dependiendo de cómo sea el resultado, `True` o `False`.

Para manejar declaraciones condicionales, Python sigue una estructura particular:

In [ ]:
if "condtional statement" is True:
    # execute expression1
    pass
else:
    # execute expression2
    pass

Hay 3 tipos de declaraciones condicionales en Python:
- `if`
- `if-else`
- `if-elif-else`

# LA DECLARACIÓN IF

La declaración más simple, consta de 2 partes, la condición y el código a ejecutar.

`if` condición`:`
  -  Código a ejecutar

La indentación cumple una función fundamental en python, por lo que es muy importante indentar correctamente el código.

In [ ]:
num = 5

if (num == 5):  # The condition is true
    print("The number is equal to 5")  # The code is executed

if num > 5:  # The condtion is false
    print("The number is greater than 5")  # The code is not executed

The number is equal to 5

- Condiciones con operadores lógicos

Podemos crear condiciones más complejas usando operadores lógicos.

In [ ]:
num = 12

if num % 2 == 0 and num % 3 == 0 and num % 4 == 0:
    # Only works when num is a multiple of 2, 3, and 4
    print("The number is a multiple of 2, 3, and 4")

if (num % 5 == 0 or num % 6 == 0):
    # Only works when num is either a multiple of 5 or 6
    print("The number is a multiple of 5 and/or 6")

The number is a multiple of 2, 3, and 4
The number is a multiple of 5 and/or 6

- if anidados

Puedes meter if dentro de otros

In [ ]:
num = 63
if num >= 0 and num <= 100:
    if num >= 50 and num <= 75:
        if num >= 60 and num <= 70:
            print("The number is in the 60-70 range")

The number is in the 60-70 range

- Crear y editar valores

En un condicional podemos crear o editar variables

In [ ]:
num = 10
if num > 5:
    num = 20  # Assigning a new value to num
    new_num = num * 5  # Creating a new value called newNum

# The if condition ends, but the changes made inside it remain
print(num)
print(new_num)

20
100

# LA DECLARACIÓN IF-ELSE

Podemos usar esta estructura cuando queremos tener `varias alternativas` a la respuesta de un condicional.

if `condicion`:
- Código

else:

- Código


Si la condición devuelve `false` se ejecuta el código del `else`.

In [ ]:
num = 60

if num <= 50:
    print("The number is less than or equal to 50")
else:
    print("The number is greater than 50")

The number is greater than 50

- Expresiones condicionales

Las expresiones condicionales devuelven un output basada en la condición que pongames, este output se puede almacenar en una variable.

Un condicional se puede escribir de la siguiente manera:
- output_value1 `if` condition `else` output_value2

In [ ]:
num = 60

output = "The number is less than or equal to 50" \
    if num <= 50 else "The number is greater than 50"

print(output)

The number is greater than 50

# LA DECLARACIÓN IF-ELIF-ELSE

Para las condiciones que tengan más de 2 alternativas, extiste el elif, con el cual podemos añadir opciones si falla el if previo.

if `condición`:

- Código

elif `condición2`:

- Código

...

else: 

- Código

In [ ]:
light = "Red"

if light == "Green":
    print("Go")

elif light == "Yellow":
    print("Caution")

elif light == "Red":
    print("Stop")

else:
    print("Incorrect light signal")

Stop

- Ejemplo con múltiples `elif`:

In [ ]:
num = 5

if num == 0:
    print("Zero")
elif num == 1:
    print("One")
elif num == 2:
    print("Two")
elif num == 3:
    print("Three")
elif num == 4:
    print("Four")
elif num == 5:
    print("Five")
elif num == 6:
    print("Six")
elif num == 7:
    print("Seven")
elif num == 8:
    print("Eight")
elif num == 9:
    print("Nine")

Five

En la estructura de múltiples `if`s todos los casos son evaluados y se ejecutan en el caso de que toque que se ejecuten, mientras que en la estructura `if-elif-else`, en el momento que se ejecuta una condición, `no se evalúan las demás`.

# EJEMPLOS A PARTE

In [ ]:
print('Hola', end='')
print('extraño')

print(' ')

print('Hola', end=' ')
print('extraño')

Holaextraño

Hola extraño

In [ ]:
my_string = "0123456789"
print(my_string[-2: -6: -2])

86